@media (max-width: 576px){
    /*=============Home Page==================*/
    nav{
        height: 85px;
        box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
        position: fixed;
        z-index: 1000;
        height: 65px;
    
        & form.d-flex{
            width: 100%;
            height: 36px;            
            & input {
                margin-right: 0 !important;
            }
        }
        
        & .d-none-mobile{
            display: none;
        }
        & .container-fluid {
            justify-content: unset !important;
            & #navbarSupportedContent {
                justify-content: space-between;
                order: 5;          
                & ul{
                    margin-right: unset !important;
                    & .dropdown .dropdown-toggle {
                        font-size: 1rem;
                        font-weight: bold;
                        color: black;
                        &::after{
                            vertical-align: middle;
                        }
                    }
                    & .dropdown-menu {
                        position: absolute;
                        top: 12px;
                        left: -280px;
                        width: 80%;
                        transition: left 0.5s ease-in-out , visibility 0.5s ease-out;
                        & .d-flex{
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }
                    }
                    .dropdown-menu:not(.show) {
                        display: block !important;
                        pointer-events: none;
                        visibility: hidden;

                    }
                    & .dropdown-menu.show {
                        display: block;
                        left: -12px;
                        pointer-events: all;
                        visibility: visible;
                    }
                    & .dropdown-menu li{
                        min-width: 100px;
                        line-height: 16px;
                        padding: 10px 15px;
                        
                        & ul li{
                            padding: 6px 0;
                            &:hover{
                                color: #04aeef;                            
                            }
                            &:first-child {
                                color: #222;
                                text-transform: uppercase;
                                font-weight: 500;
                                padding: 6px 0;
                                font-size: 15px;
                                &:hover{
                                    color: #04aeef;                            
                                }
                            }
                        }
                    }
                }
                & form {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    z-index: -5;
                    visibility: hidden;
                    pointer-events: none;
                    transition: all 0.5s ease;             
                    & button {
                        position: absolute;
                        right: 25px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                & .search-form.active {
                    top: 67px;
                    z-index: 1;
                    visibility: visible;
                    pointer-events: all; 
                }
                
            } 
            & button.order-4 {
                font-size: 18px;
                display: inline-block !important;
            }
            & a.order-3{
                display: inline-block !important;                
            }
            & button.btn {
                margin-right: 15px;
                position: relative;
                & span {
                    background: #007bff;
                    font-size: .7rem;
                    color: white;
                    padding: 0rem .3em;
                    border-radius: .25rem;
                    right: -5px;
                    position: absolute;
                    bottom: 3px;
                }
            }
            & .navbar-brand{
                margin-right: 20px;
                order: 2;
            }
            & .navbar-toggler {
                order: 1;
                border: unset;
                border-right: 2px solid rgba(0,0,0,.1);     
                &:focus{
                    box-shadow: 0 0 0 .05rem;
                }
            }
        }
    }
    #banner {
        height: 255px;
        & .item img{
            height: 250px;
            object-fit: cover;
            object-position: 87% 100%;                       
        }        
    }
    #category .container .row{
        & #cat_mobile{
            display: block;
        }
        & .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-xs-6{
            display: none;
        }
    }
    .body-menu{
        height: fit-content;
        & .body-menu-item{            
            & .skew.col-12{
                transform: skewX(15deg);
                margin-left: auto;
                text-align: right;
                & span:first-child{
                    margin-right: 50px;
                }
            }
        }
    }    
    #poster{
        margin-top: 0px;
        & .row{
            row-gap: 15px;
        }    
    }
    .hero-link {
        width: 100%;
    }
    #poster_product{
        margin-top: 10px;
        & .row{
            row-gap: 15px;
        }
    }
    #fabric{
        margin-top: 0px;
        & .row{
            align-items: center;
            & .col-lg-8{
                padding: 7px;
                & .comfort{
                    margin-left: 10px;
                    & .comfort-heading {
                        font-size: 2rem;
                    }
                    & .comfort-subheading {
                        font-size: 1.2rem;
                    }            
                    & span{
                        font-size: 14px;                            
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    #premium{
        margin-top: 0px;
        & .row{
            & .col-lg-12{
                & .shoptop{
                    & .hot-container-link {
                        & .hot-image-title {                            
                            & .hot-title {
                                font-size: .8rem;
                            }
                            & .hot-topic {
                                font-size: 1.7rem;
                            }
                            & .hot-link {
                                font-size: .8rem;                            
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        margin-top: 0px;
        & .newsletter{    
            .ftbl {
                width: 85%;
                flex-direction: column;                
                .col-md-6 {
                    & .pull-left{
                        & .ftbl-text{ 
                            font-size: 14px;
                        }
                        & div:last-child{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        & .footer_menu_item{
            & .ftbl {
                width: 85%;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        & .copyright{ 
            & .title{            
                width: 85%;
            }
        }
    }
    /* Shop Page Full CSS */
    #shop-content {
        & .sidebar {
            display: none;
        }        
        & #shop-products {
            width: 100%;
            & .product-filters {
                & #tagbox {
                    margin-top: 32px;
                }
            }
        }
        
    }
    #cart{
        margin-top: 40px;
        & .container{
            & .row{
                & div h4 .checkout-total {
                    color: #348934;
                    font-weight: bold;
                    font-family: "Ubuntu";
                    font-size: 30px;
                }
                & div .col-sm-4 .btn-block {
                    display: block;
                    width: 100%;
                    font-weight: 400;
                    font-style: italic;
                }
                & p { margin: 15px 0 !important; }
                & table{
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    & tr td .row .col-sm-9{
                        display: none;
                    }
                    & thead tr {
                        text-wrap: nowrap;
                        & th:first{ width: 20% !important; }
                        & th:nth-child(2){ width: 20% !important; }
                    }
                    & tbody tr td.sizes select {
                        min-width: 120px;
                    }
                }
            }
        }
    }
    #youMayAlsoKnow{
        & .col-lg-3{
            padding: 0 7px 14px;
            position: relative;
            & .home-product {
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 0 7px 15px 0 rgb(0 0 0 / 13%), 0 1px 4px 0 rgb(0 0 0 / 11%);
                text-decoration: none;
                & img{
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.1); /* Scale up the image by 1.2 times */
                    }
                }
                & .product-price {
                    font-size: 12px;
                    text-align: center;
                    position: absolute;
                    bottom: 52px;
                    color: #000;
                    width: 100%;
                    & div {
                        font-size: 12px;
                        text-align: center;
                        background: white;
                        color: #000;
                        border-radius: 5px;
                        padding: 0px 7px;
                        width: fit-content;
                        margin: 0 auto;
                        & strike {
                            color: #a9a9a9;
                            font-size: 14px;
                        }
                    }
                }
            }
            & .add2cartModal {
                background: #000;
                color: #FFF;            
                margin-top: 15px;
                width: 100%;
            }
        }
        & .container .row h4{
            margin: 16px 0 0 0 !important;
        }
    }
    #details{
        & .row {
            & .btnAddToCart {
                margin-left: 10px;
                padding: 0.4rem 4rem;
            }
            & .d-none-mobile{
                display: none;
            }
            & .details_content{
                & .order_btn{
                    padding: 0.4rem 8.8rem;
                }
                & .self-product-description{
                    margin-top: 25px;
                }
                & .product-related_mobile{
                    display: block !important;
                }
            }
        }
    }
    #checkout{
        margin-top: 40px;
        & .container .row {
            & .col-lg-6:first-child{
                order: 2;
                & .checkout_model_btn {
                    display: inline-block !important;
                    margin: 0px 0 20px 50%;
                    transform: translateX(-50%);
                    padding: 3px .75rem;
                    line-height: 1;
                    border-radius: 0;
                    font-size: 14px;
                    outline: 1px white dotted;
                    outline-offset: -2px;
                    font-style: italic;
                }
                & form .payment-container {
                    display: flex;
                    justify-content: space-between;
                    & .payment-method-selector {
                        max-width: 47%;
                    }
                }
            }
            & .col-lg-6:nth-child(2){
                display: none;
            }
        }
    }
}
@media all and (min-width: 600px) and (max-width:799px){    
}
@media all and (min-width: 800px) and (max-width:1024px){  
    .d-none-width{
        display: none;
    }
}
@media all and (min-width: 1025px) and (max-width: 1399px){
    .d-none-width{
        display: none;
    }
}